@import './fonts';

$dark_grey: #333;
$grey: #777;
$base_font_color: $dark_grey;
$light_font_color: $grey;

$base_font_size: 14px;
$large_font_size: 16px;
$small_font_size: 12px;

$red_color: #da0902;
$error_color: $red_color;
$blue_color: #5199db;
$focus_color: $blue_color;

$list_padding: 7px 10px;
$small_padding: 7px;
$medium_padding: 11px;
$large_padding: 14px;

* {
	box-sizing: border-box;
}
body {
	margin: 15px;
	color: $base_font_color;
	font-size: $base_font_size;
	line-height: 1.4;
	font-family: 'Segoe UI','Helvetica Neue',Arial,Tahoma,sans-serif;
}
p {
	margin: 0;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.combobox {
	position: relative;
	
	&__wrapper {
		margin-bottom: 20px;
	}
	
	&--select {
		.text-input {
			padding-right: 27px;
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -2px;
				right: 10px;
				border-top: 5px solid #999;
				border-left: 5px solid transparent;
				border-bottom: none;
				border-right: 5px solid transparent;
			}
		}
	}
	&--search {
	
	}

	&__refind {
		font-size: $small_font_size;
		color: $light_font_color;
		padding: $list_padding;
	}

	&__dropdown {
		position: absolute;
		top: 109%;
		left: 0;
		width: 340px;
		max-height: 350px;
		overflow-x: hidden;
		z-index: 10;
		background-color: #fff;
		border: 1px solid #d5d5d5;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
	}
	&__error-block {
		color: $error_color;
		font-size: 15px;
	}
	&__update {
		display: block;
		width: 100%;
		border: none;
		background-color: $blue_color;
		color: #fff;
		padding: $list_padding;
		text-align: left;
		cursor: pointer;
	}
	&__server-error {
		p {
			padding: $list_padding;
		}
	}
	&__listitem {
		padding: $list_padding;
		cursor: pointer;
		&.active {
			background-color: $focus_color;
			color: #fff;
		}
	}
	&__empty {
		color: $light_font_color;
		padding: $list_padding;
	}
}

.loader {
	padding: $list_padding;
	color: $light_font_color;

	&.spin {
		&:before {
	    animation-name: spin;
	    animation-duration: 1800ms;
	    animation-iteration-count: infinite;
	    animation-timing-function: linear;
	  }
	}

	&:before {
		content: '';
		display: inline-block;
		height: 15px;
		width: 15px;
    margin-bottom: -2px;
		margin-right: 5px;
		will-change: transform;
		background-image: url('./spinner-circle.svg');
		background-size: cover;
		opacity: 0.5;
	}
}

.text-input {
	width: 340px;
  display: block;
  white-space: nowrap;
	padding-left: 10px;
	border: 1px solid #d9d9d9;
	border-top-color: #b2b2b2;
  margin-bottom: 10px;
  position: relative;
	
	&__input {
		border: none;
		outline: none;
		padding: 0;
		display: block;
  	width: 100%;
  	font-size: inherit;
  	line-height: inherit;
  	font-family: inherit;

  	&::placeholder {
  		color: #ccc;
  	}
	}
	&__placeholder {
		display: block;
		color: #aaa;
	}
	&__value {
		display: block;
	}

	&.small {
		padding-top: $small_padding;
		padding-bottom: $small_padding;
	}
	&.medium {
		padding-top: $medium_padding;
		padding-bottom: $medium_padding;
	}
	&.large {
		font-size: $large_font_size;
		padding-top: $large_padding;
		padding-bottom: $large_padding;
	}

	&.error {
		border-color: $error_color;
		box-shadow: 0 0 0 1px $error_color;
	}
	&.focus {
		border-color: $focus_color;
		box-shadow: 0 0 0 1px $focus_color;
	}
}

.thumb-vertical {
	border-radius: 2px;
	background-color: #bbb;
	right: 3px; 
}